[submodule "Orion/vendor/GLFW"]
	path = Orion/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Orion/vendor/spdlog"]
	path = Orion/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Orion/vendor/imgui"]
	path = Orion/vendor/imgui
	url = https://github.com/retr0-spection/imgui
